body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 40px;
}

/* Kártya alapstílus */
.tanulo-kartya {
    background-color: white;
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

/*Tanári kártya*/
.tanulo-kartya.oktato {
    border: 2px solid #007bff;
    background-color: #eaf4ff; 
}

.tanulo-kartya img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.tanulo-kartya h2 {
    font-size: 18px;
    color: #2c3e50;
    margin: 10px 0 5px 0;
}

.tanulo-kartya p {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
}

.tanulo-kartya a {
    display: inline-block;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.tanulo-kartya a:hover {
    background-color: #0056b3;
}